body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background: #BBD2C5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #536976, #BBD2C5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #536976, #BBD2C5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

textarea {
    width: 80%;
    height: 100px;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#output {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
